html {
  height: 100%;
  width: 100%;
}
body{
  font-size:9pt;font-family:arial,helvetica,sans-serif;color:#5C0D11;background:#E3E0D1;padding:2px;margin:0;text-align:center
}
a{color:#5C0D11}
a:hover{color:#8F4701}
p{padding:3px 1px;margin:0}
img{border:0}
#nb {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap; 
  width: 100%; 
  padding: 10px 0; 
  font-weight: bold;
}

#nb > div {
  margin: 0 10px; 
}

.arrow-icon {
  margin-right: 5px;
  font-size: 0.8em;
}
